
<style>

 .flex-container {
  display: flex;
  flex-direction: row-reverse;
}

@media  (max-width: 992px) {
  .flex-container {
      flex-direction: row;
    }
  .btn-responsive {
    padding:2px 4px;
    font-size:30%;
    line-height: 1.2;
    
  }
}
</style>
<div id="manage-patterns" class="panel panel-primary panel-br-4 ng-scope">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <span data-translate="translationPatterns">Translation Pattern</span>
      </div>  
      <div class="col-md-9 col-sm-12">
        <div class="col">
          <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Translations will be limited to user defined in Advanced Tab"></span>
        </div>
        <div class="flex-container">
          <div class="col">
            <button type="button" ng-click="opctrl.toggleDoNotTranslate()" ng-class="{'active': opctrl.doNotTranslate}" class="btn btn-danger pull-right btn-xs btn-responsive active" style="margin-right: 5px">   
            <span class="glyphicon glyphicon-ok-sign ng-hide" ng-show="opctrl.doNotTranslate"></span> <span data-translate="doNotTranslate">Do Not Translate</span>
            </button>
          </div>
          <div class="col">
           <button type="button" ng-click="opctrl.toggleUserDefinedOnly()" ng-class="{'active': opctrl.userDefinedOnly}" class="btn btn-warning pull-right btn-xs btn-responsive active float-sm-left" style="margin-right: 5px">
           <span class="glyphicon glyphicon-ok-sign" ng-show="opctrl.userDefinedOnly"></span> <span data-translate="userDefinedOnly">User Defined Only</span>
           </button>
          </div>
          <div class="col">
           <button type="button" ng-click="opctrl.toggleOneWordTranslation()" ng-class="{'active': opctrl.oneWordTranslation}" class="btn btn-warning pull-right btn-xs btn-responsive float-sm-left" style="margin-right: 5px">
           <span class="glyphicon glyphicon-ok-sign ng-hide" ng-show="opctrl.oneWordTranslation"></span> <span data-translate="oneWordPerSentence">One Word Per Sentence</span>
           </button>
          </div>
          <div class="col">
           <button type="button" ng-click="opctrl.toggleCommonWordsOnly()" ng-class="{'active': opctrl.useCommonWordsOnly}" ng-style="CommonButtonStyle" class="btn btn-warning pull-right btn-xs btn-responsive" style="margin-right: 5px; background-color: rgb(237, 215, 255); cursor: not-allowed; pointer-events: none;">
           <span class="glyphicon glyphicon-ok-sign ng-hide" ng-show="opctrl.useCommonWordsOnly"></span> <span>Common Words Only</span>
          </button>
          </div>
        </div>
      </div>       
     </div> 
   </div>
</div>




  <div ng-show="opctrl.patterns.length === 0" class="text-center">
    <br>
    <h5 class="text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span> <span data-translate="insertKeys">Please insert the keys for the translation services that you would like to use and then create a new translation pattern below.</span></h5>
  <br>
  </div>
  <div class="list-group" ng-show="opctrl.patterns.length > 0">
    <a href="#" ng-click="opctrl.activatePattern($index)" class="list-group-item" ng-class="{'active-list': pattern[3]}" ng-repeat="(index, pattern) in opctrl.patterns">
      <span class="glyphicon glyphicon-ok-sign text-success" ng-if="pattern[3]"></span>
      <span class="glyphicon glyphicon-exclamation-sign text-danger" data-toggle="tooltip" data-placement="bottom" title="You do not have a key for {{pattern[4]}}" ng-show="opctrl.hasKey(pattern[4])"></span>
      Use
      <span class="label label-info">{{pattern[4]}}</span>
      to translate
      <span class="label label-info">{{pattern[2]}}%</span>
      of all
      <span class="label label-info">{{pattern[0][1]}}</span>
      words into
      <span class="label label-info">{{pattern[1][1]}}</span>
      <span class="pull-right">
        <button class="btn btn-warning" ng-click="opctrl.deletePattern(index, $event)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
    </a>
  </div>
</div>
<style>
p.big {
    line-height: 1.2;
}
</style>
<div class="row">
  <div class="col-md-12">
    <div id = "translator-keys" class="panel panel-info">
      <div class="panel-heading">
        <span data-translate="translatorKeys">Translator Keys</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Please put in your keys here. If you have a backup file, please use the restore button."></span>
        <button type="button" class="btn btn-default btn-xs pull-right" ng-click="opctrl.restoreKeys()" style="margin-right: 5px"><span data-translate="restoreKeys">Restore Keys</span></button>
        <button type="button" data-toggle="modal" data-target="#howToConfigureModal" class="btn btn-warning pull-right btn-xs" style="margin-right: 5px">
          <span data-translate="videoTutorial">Video Tutorial</span>
        </button>
      </div>
      <div class="panel-body">
        <p class="big">
          <b> Yandex, Bing <span data-translate="and">and</span> Google <span data-translate="requireKeys">require keys</span>.</b> <span data-translate="translationParagraph1">They use the keys to identify users, in order to limit the amount of translations that each user can request per month. If the limit is reached, they stop working temporarily. As the limit is high, it is unlikely to be reached.</span>
          <b>Please add keys for the translators you would like to use below.</b>
        </p>
        <br>
        <div ng-if="opctrl.yandexMonthlyLimit > 25.00" class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{opctrl.yandexMonthlyLimit}}%">
            <span style="color:black;">{{opctrl.yandexMonthlyLimit}}% Monthly Yandex API Limit Reached</span>
          </div>
        </div>
        <div ng-if="opctrl.yandexDailyLimit > 25.00" class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{opctrl.yandexDailyLimit}}%">
            <span style="color:black;">{{opctrl.yandexDailyLimit}}% Daily Yandex API Limit Reached</span>
          </div>
        </div>
        <p ng-if="opctrl.yandexDailyLimit >= 100.00">
          <span  class="label label-danger">WARNING:</span> <b>Daily Yandex API limit reached.</b> Please wait until tomorrow or change API key
        </p>
        <p ng-if="opctrl.yandexMonthlyLimit >= 100.00">
          <span class="label label-danger">WARNING:</span> <b>Monthly Yandex API limit reached.</b> Please wait until next month or change API key
        </p>
        <div class="input-group">
          <span class="label-info input-group-addon" data-translate="yandexKey">Translator Keys</span>
          <input ng-model="opctrl.yandexTranslatorApiKey" ng-blur="opctrl.changeApiKey('Yandex')" type="text" class="form-control">
          <span class="input-group-btn">
            <a class="btn btn-success" href="https://tech.yandex.com/keys/get/?service=trnsl" target="_blank"><span data-translate="getFreeYandexKey">Get Free Yandex Key</span></a>
          </span>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Azure Translation Key</span>
          <input ng-model="opctrl.azureTranslatorApiKey" ng-blur="opctrl.changeApiKey('Azure')" type="text" class="form-control">
          <span class="input-group-btn">
            <a class="btn btn-success" href="https://azure.microsoft.com/en-us/services/cognitive-services/translator-text-api/" target="_blank"><span>Get Azure Translation Key</span></a>
          </span>
        </div>
        <br>
        <div class="input-group">
          <span class="label-warning input-group-addon" data-translate="googleKey">Google Key</span>
          <input ng-model="opctrl.googleTranslatorApiKey" ng-blur="opctrl.changeApiKey('Google')" type="text" class="form-control">
          <span class="input-group-btn">
              <a class="btn btn-success" href="https://cloud.google.com/translate/v2/quickstart" target="_blank"><span data-translate="getPaidGoogleKey">Get Paid Google Key</span></a>
          </span>
        </div>
        <br>
        <span>
          <input type="checkbox" name="" id="" ng-model="opctrl.optionalAPI" ng-click="opctrl.toggleOptionalAPI()"> Information Rich Cards <span style="font-weight: bolder;">(Optional)</span> <br>
          <div style="margin: 5px 0px 0px 25px; font-size: 10px;"> A Detailed information for a particular word &#8212; part's of speech, usage example for each word </div> <br>
          <div class="input-group" ng-show="opctrl.optionalAPI">
            <span class="label-success input-group-addon">Translation Details</span>
            <input ng-model="opctrl.detailsApiKey" ng-blur="opctrl.setDetailsApi()" type="text" class="form-control">
            <span class="input-group-btn">
                <a class="btn btn-success" href="https://tech.yandex.com/dictionary" target="_blank"><span>Get Free Key</span></a>
            </span>
          </div>
        </span>
        <br>
        <p class="big">
          <span class="label label-danger"><span data-translate="note">Note</span>:</span>
          <span data-translate="needHelp1">If you need help with getting a key, watch the </span><a href="https://www.youtube.com/watch?v=VgpQ48YHGXs" target="_blank" data-toggle="tooltip" data-placement="bottom" title="How to Configure">Tutorial on How to Configure Mind the Word</a> <span data-translate="needHelp2">on YouTube. You can watch other tutorials  </span><a href="https://www.youtube.com/channel/UCBCIhZSb0cVw4xaF3SZbDvA" target="_blank"><span data-translate="needHelp3"><br>here</span></a>.
        </p>
      </div>
    </div>
  </div>
</div>

<div id = "create-new-pattern" class="panel panel-primary">
  <div class="panel-heading">
    <span data-translate="createNewPattern">Create a New Pattern</span>
  </div>
  <div class="panel-body">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="translator"><span data-translate="use">Use</span>
        </label>
        <select ng-model="opctrl.translator" ng-change="opctrl.changeTranslator()" class="form-control" id="translator">
          <option ng-if="!opctrl.hasKey('Yandex')">Yandex</option>
          <option ng-if="!opctrl.hasKey('Google')">Google</option>
          <option ng-if="!opctrl.hasKey('Azure')">Azure</option>
        </select>
      </div>
      <div class="form-group">
        <label for="percentage"><span data-translate="toTranslate">to translate</span>
        </label>
        <select class="form-control" id="percentage" ng-model="opctrl.percentage" style="min-width: 70px">
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>25</option>
          <option>30</option>
          <option>35</option>
          <option>40</option>
          <option>45</option>
          <option>50</option>
          <option>55</option>
          <option>60</option>
          <option>65</option>
          <option>70</option>
        </select>
      </div>
      <div class="form-group">
          <label for="srcLang"><span data-translate="percentOfall">percent of all</span>
        </label>
        <select class="form-control" id="srcLang" ng-model="opctrl.srcLang" style="min-width: 160px">
          <option ng-repeat="(language, code) in opctrl.languages" ng-value="code">{{language}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="targetLang"><span data-translate="wordsInto">words into</span>
        </label>
        <select class="form-control" id="targetLang" ng-model="opctrl.targetLang" style="min-width: 160px">
          <option ng-repeat="(language, code) in opctrl.languages" ng-value="code">{{language}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success pull-right" ng-click="opctrl.createPattern()" data-translate="create">Create</button>
    </form>
  </div>
</div>

<!-- <div class="alert alert-danger fade in" role="alert" ng-show="opctrl.keyAlert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4>Oh snap! You don't have a key!</h4>
  <p>You don't have any key for the translator you have selected. For the extension to work you need a key (something like a password) for {{opctrl.translatorService}}.
    Please get the keys by using the buttons below.</p>
  <p>
    <a class="btn btn-default" target="_blank" href="https://tech.yandex.com/keys/get/?service=trnsl">Get Yandex Key</a>
    <a class="btn btn-default" target="_blank" href="https://cloud.google.com/translate/v2/quickstart">Get Google Key</a>
    <a class="btn btn-default" target="_blank" href="https://www.microsoft.com/en-us/translator/getstarted.aspx">Get Bing Key</a>
  </p>
</div> -->

<div id="howToConfigureModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/209926760?byline=0" width="100%" height="80%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
